@import url(../css/fonts.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: #f3f3f3;
}
.ct_dash{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 250px auto;
    grid-template-areas: 
    "hdr hdr"
    "asi main";
}
.ct_dash .hdr{
    grid-area: hdr;
    background-color: #fff;
}
.ct_dash .asi{
    grid-area: asi;
    background: #fff;
}
.ct_dash .mn{
    grid-area: main;
    background-color: #000;
}