@import url(../css/fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: #fff;
  user-select: none;
}
.ct_dash {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  gap: 10px;
  grid-template-rows: 70px auto;
  grid-template-columns: 250px auto;
  grid-template-areas:
    "asi hdr"
    "asi main";
}
.ct_dash .hdr {
  grid-area: hdr;
  width: 100%;
  min-height: 100%;
  background-color: #f3f3f3;
}
.ct_dash .hdr .nv_hdr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.ct_dash .hdr .nv_hdr ul:nth-child(1) {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
}
.ct_dash .hdr .nv_hdr ul:nth-child(1) li {
  position: relative;
}
.ct_dash .hdr .nv_hdr ul:nth-child(1) li input[type="search"] {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 50px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 0.8rem;
  text-indent: 25px;
}
.ct_dash .hdr .nv_hdr ul:nth-child(1) li i,
.ct_dash .hdr .nv_hdr ul:nth-child(1) li button {
  position: absolute;
  top: calc(50% - 11px);
  background-color: #fff;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}
.ct_dash .hdr .nv_hdr ul:nth-child(1) li i {
  left: 10px;
}
.ct_dash .hdr .nv_hdr ul:nth-child(1) li button {
  border: none;
  font-size: 0.75rem;
  background-color: #f5f5f5;
  right: 15px;
  border-radius: 5px;
  padding: 5px;
}
.ct_dash .hdr .nv_hdr ul:nth-child(2) {
  list-style: none;
  display: flex;
  width: auto;
  padding: 0 20px;
  align-items: center;
}
.ct_dash .hdr .nv_hdr ul:nth-child(2) li button {
  border: none;
  outline: none;
  background: #fff;
  padding: 10px;
  display: inline-flex;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 15px;
  cursor: pointer;
}
.ct_dash .hdr .nv_hdr ul:nth-child(2) li button i {
  font-size: 1.25rem;
  color: #000;
}
.ct_dash .hdr .nv_hdr ul:nth-child(2) li:nth-child(2) button {
  padding: 5px 20px;
  border-radius: 30px;
  text-align: left;
  font-family: inherit;
  align-items: center;
  justify-content: flex-start;
  display: inline-flex;
}
.ct_dash .hdr .nv_hdr ul:nth-child(2) li button img {
  width: 30px;
  vertical-align: top;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.ct_dash .hdr .nv_hdr ul:nth-child(2) li button p {
  font-size: 0.75rem;
}
.ct_dash .asi {
  width: 100%;
  min-height: 100%;
  grid-area: asi;
  background-color: #f3f3f3;
}
.ct_dash .asi .asi_nav {
  width: 100%;
  height: 100%;
}
.ct_dash .asi .asi_nav .nav {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.ct_dash .asi .asi_nav .nav .logo li a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #168bf8;
  font-weight: 600;
  font-size: 2rem;
  padding-left: 20px;
}
.ct_dash .asi .asi_nav .nav .logo li a img {
  width: 50px;
  height: 50px;
  vertical-align: top;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.ct_dash .asi .asi_nav .nav .links {
  width: 100%;
  height: 100%;
  margin-top: 16px;
}
.ct_dash .asi .asi_nav .nav .links li {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 5px 0;
  justify-content: flex-start;
  padding: 10px 30px;
}
.ct_dash .asi .asi_nav .nav .links li.active::before {
  content: "";
  width: 5px;
  height: 60%;
  left: 0;
  border-radius: 0 5px 5px 0;
  display: block;
  background-color: #168bf8;
  position: absolute;
}
.ct_dash .asi .asi_nav .nav .links li.active a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.ct_dash .asi .asi_nav .nav .links li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.ct_dash .asi .asi_nav .nav .links li a i {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #168bf8;
  position: relative;
}
.ct_dash .asi .asi_nav .nav .lnks_dw {
  width: 100%;
  position: relative;
  bottom: 20px;
}
.ct_dash .asi .asi_nav .nav .lnks_dw li {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
  position: relative;
  padding: 10px 30px;
}
.ct_dash .asi .asi_nav .nav .lnks_dw li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.ct_dash .asi .asi_nav .nav .lnks_dw li a i {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #ed8a08;
  position: relative;
}
.ct_dash .asi .asi_nav .nav .lnks_dw li.active::before {
  content: "";
  width: 5px;
  z-index: 100;
  height: 60%;
  left: 0;
  border-radius: 0 5px 5px 0;
  display: block;
  background-color: #ed8a08;
  position: absolute;
}
.ct_dash .asi .asi_nav .nav .lnks_dw li.active a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.ct_dash .mn {
  width: 100%;
  height: 100%;
  grid-area: main;
  background-color: #f3f3f3;
  padding: 20px;
  overflow-y: scroll;
}
.ct_dash .mn::-webkit-scrollbar {
  width: 6px;
}
.ct_dash .mn::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #168bf8 0%, #ed8a08 100%);
  border-radius: 10px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1000;
}
.overlay .ct_ovr {
  margin: auto;
  width: 500px;
  height: 500px;
  background: linear-gradient(45deg, #168bf8a0 0%, #ed8a08a0 100%);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
}
.overlay .ct_ovr .imgbox {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
.overlay .ct_ovr .imgbox img {
  width: 100%;
  vertical-align: top;
  object-fit: contain;
  object-position: center;
}
.logout_overlay {
  width: 100%;
  text-align: center;
  color: #fff;
}
.logout_overlay .logout_box h2 {
  font-size: 2rem;
  font-weight: 600;
}
.logout_overlay .logout_box p {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 10px 0;
}
.logout_overlay .logout_box span {
  font-size: 3rem;
  margin-top: 30px;
  display: inline-block;
  font-weight: 200;
}
/*metrics and header of the dashboard*/
.dashboard_header {
  width: 100%;
  margin-bottom: 20px;
}
.metrics_section {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}
.metrics_section .metric_card {
  position: relative;
}
.metrics_section .metric_card:nth-child(odd) {
  width: 100%;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  background: linear-gradient(45deg, #91c7fa 0%, #1665f8 100%);
}
.metrics_section .metric_card:nth-child(even) {
  width: 100%;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  background: linear-gradient(45deg, #fab862 0%, #f85e16 100%);
}
.metrics_section .metric_card h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
.metrics_section .metric_card p {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 10px;
}

.metrics_section .metric_card::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAABKklEQVR4AeyTQQpBQRjHPVlY2biAW9iJhSLFMeyVnMDSAZzATlE2UlhwADmDnbWweH5TnqT3ZWYMPTX6fo2+8WZ+7z8jnUrQx8tIh+GT8clICUh9f2d8MlICUt/qzoRhmIfyG0rMZ6SN4/pWMiw0hOUb1sx3QLtsZdrsUBHo048qF33RGa1kgiA4wuoVNsxCF1QqZ0ajspKJ24H7UaU/hS3UIYQAtMuJzF1kxq4bqJHYidG4PpaJETE+nsj6IxmXIkrIWsa1iLUMIg0efr4j1kfDOo8yTgaRJk9PYAHqskoiO+b3oF1GMogUWHkMc2jxr5FEUswVYcTvtMtIhlUP0AMlcmV0WkYyvOkFBuBcRL2VkYx64Jt4GSndJCYjuf6275OR8vbJ/EUyNwAAAP//0JQd9AAAAAZJREFUAwA002xHZxR/aQAAAABJRU5ErkJggg==);
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: top;
  object-fit: cover;
  object-position: center;
  top: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #ffffff30;
  right: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  z-index: 400;
}
.metrics_section .chart_section {
  width: 100%;
  height: 100%;
  grid-column: span 2;
  grid-row: span;
  background: linear-gradient(45deg, #fff 0%, #e5e5e5 100%);
  padding: 20px;
  box-shadow: 0 0 20px #ddd;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.metrics_section .tips {
  width: 100%;
  overflow: hidden;
  max-height: 350px;
  grid-column: span;
  grid-row: span;
  background: linear-gradient(45deg, #fff 0%, #e5e5e5 100%);
  padding: 20px;
  box-shadow: 0 0 20px #ddd;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.metrics_section .tips .tips_list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.metrics_section .tips .tips_list li {
  width: 100%;
  padding: 10px;
  min-height: calc(30% - 10px);
  border-radius: 10px;
  margin: 5px 0;
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 0.75rem;
  font-weight: 400;
}
.metrics_section .tips .tips_list li .tip_item {
  display: flex;
  align-items: center;
  width: 100%;
}
.metrics_section .tips .tips_list li .tip_item .tip_icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
}
.metrics_section .tips .tips_list li .tip_item .tip_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
.metrics_section .tips .tips_list li .tip_item .tip_content {
  font-size: 0.75rem;
  width: 100%;
}
.metrics_section .tips .tips_list li .tip_item .tip_content strong {
  font-size: 0.875rem;
}
.metrics_section .tips .tips_list li .tip_item .tip_content em {
  color: #ed8a08;
  font-weight: 600;
}
.metrics_section .tips .tips_list li:nth-child(even) .tip_item .tip_content em {
  color: #168bf8;
  font-weight: 600;
}

.metrics_section .notify {
  width: 100%;
  overflow: hidden;
  max-height: 350px;
  position: relative;
  grid-column: span;
  grid-row: span;
  background: linear-gradient(45deg, #fff 0%, #e5e5e5 100%);
  padding: 20px;
  box-shadow: 0 0 20px #ddd;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.metrics_section .notify .notify_list {
  list-style: none;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.metrics_section .notify .notify_list li {
  width: 100%;
  position: relative;
  z-index: 200;
  top: calc(65px - 30px);
  padding: 10px;
  min-height: calc(25% - 10px);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background: linear-gradient(45deg, #fff 0%, #e5e5e5 100%);
  font-size: 0.75rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}

.metrics_section .notify .notify_list:hover li {
  z-index: 300 !important;
  transform: scale(1);
}
.metrics_section .notify .notify_list:hover li:nth-child(2) {
  transform: scale(0.95) translateY(-10px);
}
.metrics_section .notify .notify_list:hover li:nth-child(3) {
  transform: scale(0.9) translateY(-20px);
}

.metrics_section .notify .notify_list li:nth-child(2) {
  transform: scale(0.95) translateY(-30px);
  z-index: 100;
}
.metrics_section .notify .notify_list li:nth-child(3) {
  transform: scale(0.9) translateY(-60px);
  z-index: 50;
}
.metrics_section .notify .notify_list li .noti_item {
  display: flex;
  align-items: center;
  width: 100%;
}
.metrics_section .notify .notify_list li .noti_item .noti_icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
}
.metrics_section .notify .notify_list li .noti_item .noti_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
.metrics_section .notify .notify_list li .noti_item .noti_content {
  font-size: 0.625rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.metrics_section .notify .notify_list li .noti_item .noti_content strong {
  font-size: 0.75rem;
}
.metrics_section .notify a {
  display: inline-block;
  padding: 10px;
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
  background-color: #f85e16;
  color: #fff;
  border-radius: 5px;
}
/*performance section*/
.live-dashboard {
  padding: 2rem;
}

.live-dashboard h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #107be5;
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.metric-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.metric-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.metric-header h2 {
  font-size: 1.1rem;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.icon {
  font-size: 1.6rem;
}

.blue {
  color: #107be5;
}

.orange {
  color: #ff7f50;
}

.live-value {
  font-size: 1.3rem;
  font-weight: bold;
  color: #107be5;
}

canvas {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}

.history-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

.dmodel {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto;
  gap: 20px;
}

.card_model {
  grid-column: span 2;
  width: 100%;
  min-height: 400px;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(45deg, #fff 0%, #e5e5e5 100%);
  border: 1px solid #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.anatomy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.card_details {
  grid-column: span 2;
  grid-row: span 2;
  background: linear-gradient(45deg, #fff 0%, #e5e5e5 100%);
  padding: 1.5rem;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.card_details h3 {
  font-size: 1.25rem;
}
.card_details ul {
  list-style: none;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: auto auto;
  gap: 10px;
  margin: 10px 0;
}
.card_details ul li:nth-child(1) {
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-column: span 6;
  grid-row: span;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #aaa;
  padding: 0;
  background: linear-gradient(45deg, #1665f8 0%, #107be5 100%);
}
.card_details ul li:nth-child(1) .card_info {
  width: 100%;
  height: 150px;
  display: inline-flex;
  align-items: flex-start;
  color: #fff;
}
.card_details ul li:nth-child(1) .card_info .imgprofile {
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.card_details ul li:nth-child(1) .card_info .imgprofile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
.card_details ul li:nth-child(1) .card_info .usercap {
  padding: 10px;
  width: 60%;
  text-align: left;
  margin: 10px 0;
}
.card_details ul li:nth-child(1) .card_info .usercap .tabs span {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border-radius: 25px;
  background-color: #ffffff30;
  border: 2px solid #ddd;
  outline: none;
  margin-right: 10px;
  font-size: 0.625rem;
}
.card_details ul li:nth-child(1) .card_info .usercap h2 {
  font-weight: 600;
  margin: 10px;
  text-overflow: ellipsis;
  font-size: 1.25rem;
}
.card_details ul li:nth-child(1) .card_info .usercap .caps span {
  margin: 0 10px;
  font-size: 0.625rem;
}
.card_details ul li:nth-child(2) {
  grid-column: span 2;
  grid-row: span;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(45deg, #0f501b 0%, #05b047 100%);
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  line-height: 1.5rem;
}
.card_details ul li:nth-child(2) h4 {
  font-size: 0.875rem;
  font-weight: 600;
}
.card_details ul li:nth-child(3) {
  grid-column: span 3;
  background: #fff;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.card_details ul li:nth-child(3) .card_bloodP .icon_card i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7f5070;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.25rem;
}
.card_details ul li:nth-child(3) .card_bloodP {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.card_details ul li:nth-child(3) .card_bloodP .info_card h4 {
  font-size: 0.875rem;
  margin-bottom: 5px;
}
.card_details ul li:nth-child(3) .card_bloodP .info_card p{
  font-size: .75rem;
}
.card_details ul li:nth-child(4){
  grid-column: span 3;
  background: #fff;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.card_details ul li:nth-child(4) .card_oxi{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.card_details ul li:nth-child(4) .card_oxi .icon_card i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #107be570;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.25rem;
}
.card_details ul li:nth-child(4) .card_oxi .info_card h4 {
  font-size: .875rem;
  margin-bottom: 5px;
}
.card_details ul li:nth-child(4) .card_oxi .info_card p{
  font-size: .75rem;
}
.card_details ul li:nth-child(5){
  grid-column: span 2;
  background: #fff;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.card_details ul li:nth-child(5) .icon_card i{
 display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e5101b70;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.25rem; 
}
.card_details ul li:nth-child(6){
  grid-column: span 4;
  grid-row: span;
  background-color: #fff;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  border: 1px solid #aaa;
  overflow: hidden;
}
.card_details ul li:nth-child(6) .group-header h3{
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0 5px;
}
.card_details ul li:nth-child(6) .subtest-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_details ul li:nth-child(6) .subtest-list li{
  background: #fff;
  color: #000;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  border-radius: 10px;
}
.card_details ul li:nth-child(6) .subtest-list li:nth-child(even) i{
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 50%;
  background-color: #ff7f5070;
  margin: 0 10px;
}
.card_details ul li:nth-child(6) .subtest-list li:nth-child(odd) i{
  margin: 0 10px;
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 50%;
  background-color: #107be570;
}
.card_details ul li:nth-child(6) .subtest-list li .test-info h4{
  font-size: .875rem;
  line-height: 1rem;
}
.card_details ul li:nth-child(6) .subtest-list li .test-info p{
  font-size: .75rem;
  line-height: 1rem;
}
.card_details ul li:nth-child(7){
  grid-column: span 4;
  grid-row: span;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #aaa;
  padding: 10px;
}
.card_graphic {
  grid-column: span 2;
  grid-row: span;
}