<section class="dmodel">
  <div class="card_model">
    <canvas id="anatomyCanvas" class="anatomy"></canvas>
  </div>

  <div class="card_details">
    <h3>User Info</h3>
    <ul class="metrics_list">
      <li>
        <div class="card_info">
          <div class="imgprofile">
            <img
              src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
          <div class="usercap">
            <div class="tabs"><span>Weight: 70 kg</span><span>Blood Type: A+</span></div>
            <h2 id="username_bdy">Username</h2>
            <div class="caps">
                <span>Hombre</span>
                <span>23 years old</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card_graphic">
    <canvas id="bodyChart"></canvas>
  </div>
</section>
