<section class="dmodel">
  <div class="card_model">
    <canvas id="anatomyCanvas" class="anatomy"></canvas>
  </div>

  <div class="card_details">
    <h3>User Info</h3>
    <ul class="metrics_list">
      <li>
        <div class="card_info">
          <div class="imgprofile">
            <img src="../../images/cemex_dma_spgg.png" alt="" />
          </div>
          <div class="usercap">
            <div class="tabs">
              <span id="peso"></span><span>Blood Type: A+</span>
            </div>
            <h2 id="username_bdy"></h2>
            <div class="caps">
              <span id="genero"></span>
              <span id="edad"></span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card_hlth_status">
          <h4>Health Status:</h4>
          <p id="hlthSta">Good</p>
        </div>
      </li>
      <li>
        <div class="card_bloodP">
          <div class="icon_card"><i class="bx bx-test-tube"></i></div>
          <div class="info_card">
            <h4>Blood Preasure</h4>
            <p>120 / 60 mmHg</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card_oxi">
          <div class="icon_card"><i class="bx bx-heart"></i></div>
          <div class="info_card">
            <h4>Heart Rate</h4>
            <p>72 bpm</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card_docx">
          <div class="icon_card"><i class="bxr bx-file-detail"></i></div>
        </div>
      </li>
      <li>
        <div class="group-header">
          <h3 class="group-title">Recent Tests</h3>
        </div>
        <ul class="subtest-list">
          <li>
            <i class="bx bx-check-circle"></i>
            <div class="test-info">
              <h4>Sleep Tracking</h4>
              <p>Realizado — 7.2h registradas</p>
            </div>
          </li>
          <li>
            <i class="bx bx-calendar"></i>
            <div class="test-info">
              <h4>Glucose</h4>
              <p>Programado — 15 Nov 2025 a las 8:00 AM</p>
            </div>
          </li>
          <li>
            <i class="bx bx-check-circle"></i>
            <div class="test-info">
              <h4>Oxigenation</h4>
              <p>Realizado — 97% saturación</p>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <canvas id="stepsChart"></canvas>
      </li>
    </ul>
  </div>

  <div id="card_graphic" class="card_graphic">
    <p>Selecciona una parte del cuerpo para ver sus métricas...</p>
  </div>
</section>
